process {
  withName: '.*' {
    cpus = 6
    memory = '24 GB'
  }

  // Define how shell commands are executed
  // - /bin/bash is the shell
  // - '-ueo pipefail' ensures strict error handling:
  //   -u: exit if using an undefined variable
  //   -e: exit on first error
  //   -o pipefail: detect failures in piped commands
  shell = ['/bin/bash', '-ueo', 'pipefail']

  // Ensure correct user and group permissions inside Docker containers
  // It sets the container to run as the same UID:GID as the host user (or 1000:1000 by default)
  containerOptions = "-u ${System.getenv('UID') ?: '1000'}:${System.getenv('GID') ?: '1000'}"

  withName: 'NFCORE_DEMULTIPLEX:DEMULTIPLEX:MULTIQC' {
    // 'stageInMode = copy' ensures input files are copied, not symlinked, to the work directory.
    // This helps avoid issues with file permissions or missing files in containerized environments.
    stageInMode = 'copy'
  }
}

workDir = "/home/azureuser/APPLICATION/200611_A00789R_0071_BHHVCCDRXX/work"
